#header{
	background-image : url(../images/3058.jpg) ;
	padding-top: 345px;


}
.header{
	margin-top: -222px;
	text-align: center;
}
.isim{
	font-size: 32;
	font-weight: bold;
	font-family: cursive;
	color:rgb(57, 25, 69);
}
.nav{
	background-color: rgba(0,0,0,0.5);
width: 100%;

}
.sosyal {
	text-align: center;
}

.smbl img{
	border:1px;
	width: 20px;
	height: 20px;
}
.nav {

	text-align: center;
	background-color: rgba(181, 199, 30, 0.21);

}
a {
	color: #27543C;
	font-weight: bold;
	font-family: serif;

}
.nav a {
float: left;
margin: 13px;
text-decoration: none;

}
.content {
	background-color: rgba(181, 199, 30, 0.21);
}
div.row {
	margin-left: 0px;
	margin-right: 0px;
}